<!-- <div class="custom-shape-divider">
    <svg class="curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    <div class="contact-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="mailto:example@example.com" aria-label="Email" class="icon">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="icon">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <p class="copyright mb-5">© 2024 All rights reserved.</p>
</div> -->


<!-- Footer -->
 <div class="container-fluid mt-5">
    <div class="row ">
        <div class="col p-0 m-0">
            <footer class="text-center text-lg-start text-white" style="background-color: #333533;">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center  p-4 border-bottom">
                 
              
                  <!-- Right -->
                  <div>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>

                </section>
              
                <section class="">
                  <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <div class="me-5 d-none d-lg-block">
                                <img class="w-100 h-100" src="../../../assets/images/kooshLogo.png" alt="">  </div>            </h6>
                        <p class="m-4">
                            Design .. Build .. Maintain
                        </p>
                      </div>
                     
                      
              
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                          <i class="fas fa-envelope me-3"></i>
                          infoexample.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                      </div>



                      
                      <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                  </div>
                </section>
                <!-- Section: Links  -->
              
                <!-- Copyright -->
                <div class="text-center p-4">
                  © 2024 Copyright:
                  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">InteriorKoosh</a>
                </div>
                <!-- Copyright -->
              </footer>
              <!-- Footer -->
        </div>
    </div>
 </div>
