/* Hero Section Styles */
.hero-section {
    height: 100vh; /* Video height adjusted to fit remaining viewport */
    overflow: hidden;
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-section .text-center {
    z-index: 1;
}

