body{
    background-color:#F8F5F3;  
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lora', serif;
    /* cursor: url('../src/assets/images/Aura Gradient Animated--pointer--SweezyCursors.cur'), auto; */

}
:root {
    --main-color: #cd9c20; 
  }



  

      